<!DOCTYPE html>
<html lang="en">

<head>

    {% block title %}<title>404</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <script src="{% static 'js/404.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/404.css" %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <a>
        <!-- <center>
            <img src="{% static "images/ctp-logo-black.png" %}" alt="Chuang Zhu Project"
                style="max-width:390px;height:200px;padding:20px;">
        </center> -->
        <p><br /><br /><br /><br /><br /></p>
    </a>

    <div>
        <canvas id="space-invaders"></canvas>
    </div>

    <p class="center"><br /><br /><br /><br />404 ~ Page Not Found<br />You could play Space Invaders tho!
        <br /> Use Space to shoot and ← → to move
        <br /></p>

</body>