{% extends "home.html" %}

{% block content %}
{% load static %}

<div class="center">
    <center>
        <h3 class="rotate2">
            About
        </h3>
        <p>
            The Chuang Zhu Project is an experimental art collective in rural Yunnan, China. Partnered with the local
            government and
            Taoist temple, the collective aims to show how commonly conflicting systems can collaborate to serve the
            community. The
            project creates a global exchange platform for artists to discover and explore the ideal lifestyle of human
            beings.
        </p>
    </center>
</div>

{% endblock %}